In [2]:
import folium
import geopandas as gpd
import pandas as pd
import numpy as np

center = (37.2410864, 127.1775537); zoom = 17

m = folium.Map(location=center,
           zoom_start=zoom,
           tiles='http://api.vworld.kr/req/wmts/1.0.0/E7AF57B8-E4AF-38EA-BF1F-490CDCBB8313/Base/{z}/{y}/{x}.png',
           attr='용인시')

data = pd.read_csv("../data/17.용인시_소상공인_매출정보.csv")

# for index, row in data.iterrows():
#     folium.Marker([row['LATITUDE_위도'], row['LONGITUDE_경도']]).add_to(m)

# m

,gid,ws_cnt,found_age_1,found_age_2,found_age_3,found_age_4,found_age_5,found_age_6,runout_cnt,smbiz_yn_cnt,...,indcd_l_yn,indcd_m_yn,indcd_n_yn,indcd_o_yn,indcd_p_yn,indcd_q_yn,indcd_r_yn,indcd_s_yn,indcd_t_yn,indcd_u_yn
0,다바67bb99aa,1,0,0,0,0,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,다바68aa99ba,1,0,0,0,1,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,다바68aa99bb,5,0,1,0,0,0,4,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,다바68ab99ba,3,0,0,1,0,2,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,다바68ba99ab,16,0,1,2,3,2,8,0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2252,다사92ab02bb,1,0,0,0,1,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2253,다사92ab03aa,2,0,0,0,0,1,1,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2254,다사92ab04ab,1,0,0,0,0,0,1,0,0,...,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN
2255,다사92ab05ab,2,0,1,0,0,0,1,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2256,다사92ba02bb,3,0,0,0,0,1,1,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN